<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <regions-progress-pills
    [title]="pillsTitle$ | async"
    [pills]="pills$ | async"
  ></regions-progress-pills>
  <h2 id="page-heading" tabindex="-1" #pageHeading class="primary-text no-sub">
    {{!form.get('hasEmployments')?.value ? 'Are you currently employed?' : 'Verify your current employment.' }}
  </h2>
  <a [routerLink]="baseUrl + '/income/employment/company-name'" (click)="addCurrentEmployment()" class="add">
    add employment
  </a>
  <div *ngFor="let employment of displayEmployments; index as i;">
    <div
      tabindex="0"
      class="answers-title"
      (keyup.enter)="removeEmployment(i)"
      (click)="removeEmployment(i)"
    >
      <h3>{{employment?.title}}</h3>
      <span class="edit">Delete</span>
    </div>
    <regions-confirm-answer
      *ngFor="let answer of employment?.answers"
      [title]="answer?.title"
      [response]="answer?.response | async"
      [type]="answer?.type"
      [link]="answer?.returnLink"
    ></regions-confirm-answer>
  </div>
  <fieldset
    class="input-group"
    [regionsInputGroup]="form.get('notEmployed')"
    [formSubmitAttempted]="formSubmitAttempted$ | async"
    aria-labelledby="page-heading"
  >
    <legend class="sr-only">Current Employment</legend>
    <label
      *ngIf="!form.get('hasEmployments')?.value"
      for="not-employed"
      class="checkbox"
    >
      <input
        *ngIf="!form.get('hasEmployments')?.value"
        type="checkbox"
        id="not-employed"
        name="notEmployed"
        formControlName="notEmployed"
        [regionsAccessibleAttributes]="form.get('notEmployed')"
				[formSubmitObservable]="formSubmitAttempted$"
     ><span class="check-box" aria-hidden="true"></span> I am not currently employed.
    </label>
    <span
      id="not-employed-error"
      class="error-text error-required"
      *ngIf="form.get('notEmployed').hasError('required')"
    >
      employment or checkbox required
    </span>
  </fieldset>
  <regions-action-btn-group
    [linkOptions]="actionBtnLinkOptions$ | async"
  >
    <button type="submit" class="btn btn-primary btn-continue">Confirm &amp; Continue</button>
  </regions-action-btn-group>
</form>
