<form (ngSubmit)="onSubmit()">
  <regions-progress-pills
    [title]="pillsTitle$ | async"
    [pills]="pills$ | async"
  ></regions-progress-pills>
  <h2 id="page-heading" tabindex="-1" #pageHeading class="primary-text no-sub">Is this your current address?</h2>
  <p class="address">
    {{address?.street}}<br />
    {{address?.unit}}<br *ngIf="address?.unit" />
    {{address?.city}}, {{address?.state}} {{address?.zip}}
  </p>
  <regions-action-btn-group
    [linkOptions]="actionBtnLinkOptions$ | async"
  ></regions-action-btn-group>
</form>
