<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <h2 id="page-heading" tabindex="-1" #pageHeading class="primary-text">Don't have your PIN?</h2>
  <p class="sub-text">Please enter the email address for the primary borrower.</p>
  <fieldset>
    <legend class="sr-only">Don't have your PIN?</legend>
    <div class="input-group" [regionsInputGroup]="form.get('email')" [formSubmitAttempted]="formSubmitAttempted$ | async">
      <label for="email" class="required">Email address</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        [regionsAccessibleAttributes]="form.get('email')"
				[formSubmitObservable]="formSubmitAttempted$"
     >
      <span
        class="error-text error-required"
        id="email-error"
        *ngIf="form.get('email').hasError('required')"
      >email is required</span>
      <span
        class="error-text error-email"
        id="email-error"
        *ngIf="!form.get('email').hasError('required') && form.get('email').hasError('email')"
      >format must be you@email.address</span>
    </div>
  </fieldset>
  <regions-action-btn-group
    [linkOptions]="actionBtnLinkOptions$ | async"
  >
    <button type="submit" class="btn btn-primary btn-continue">Resend PIN</button>
  </regions-action-btn-group>
</form>
