<h2 id="page-heading" tabindex="-1" #pageHeading class="primary-text">We're sorry&hellip;</h2>
<p class="sub-text">Regions Bank typically makes consumer real estate loans for properties located in certain states. We are unable to continue with your request. Please contact us if you have any questions.</p>
<p class="sub-text">If you have any questions, please visit a Regions Branch near you.</p>
<regions-action-btn-group>
  <button class="btn btn-primary btn-continue">
    Find a Branch
  </button>
  <button class="btn btn-secondary btn-continue">
    Return to Address
  </button>
</regions-action-btn-group>
