<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <regions-progress-pills
    [title]="pillsTitle$ | async"
    [pills]="pills$ | async"
  ></regions-progress-pills>
  <h2 id="page-heading" tabindex="-1" #pageHeading class="primary-text no-sub">Have you had a property foreclosed upon or given title or deed in lieu thereof in the last seven (7) years?</h2>
  <fieldset
    class="input-group"
    [regionsInputGroup]="form.get('foreclosures')"
    [formSubmitAttempted]="formSubmitAttempted$ | async"
    aria-labelledby="page-heading"
  >
    <legend class="sr-only">Have you had a property foreclosed upon or given title or deed in lieu thereof in the last seven (7) years?</legend>
    <label for="yes" class="radio">
      <input
        type="radio"
        id="yes"
        name="foreclosures"
        value="yes"
        formControlName="foreclosures"
        [regionsAccessibleAttributes]="form.get('foreclosures')"
				[formSubmitObservable]="formSubmitAttempted$"
     >
     <span class="radio-btn" aria-hidden="true"></span>
      Yes<span class="sr-only">, I have had a property foreclosed upon or given title or deed in lieu thereof in the last seven (7) years.</span>
    </label>
    <label for="no" class="radio">
      <input type="radio" id="no" name="foreclosures" value="no" formControlName="foreclosures">
      <span class="radio-btn" aria-hidden="true"></span>
      No<span class="sr-only">, I have not had a property foreclosed upon nor given title or deed in lieu thereof in the last seven (7) years.</span>
    </label>
    <span
      class="error-text error-required"
      id="yes-error"
    >select an option</span>
  </fieldset>
  <regions-action-btn-group
    [linkOptions]="actionBtnLinkOptions$ | async"
  ></regions-action-btn-group>
</form>
