<h2 id="page-heading" tabindex="-1" #pageHeading class="primary-text no-sub">Are you a new or existing customer?</h2>
<div class="icon-group-container icon-padding">
  <a routerLink="/new-customer" class="icon-container">
    <img src="assets/images/icn-cust-new.svg" alt="">
    <p class="icon-link">New Customer</p>
  </a>
  <a routerLink="/existing-customer"  class="icon-container">
    <img src="assets/images/icn-cust-exist.svg" alt="">
    <p class="icon-link">Existing Customer</p>
  </a>
</div>
