<div class="parent-wrapper">
  <div class="success-wrapper">
    <!-- toggle the complete (should be removed by default, added when page loaded) -->
    <div class="success-container complete">
      <svg class="circle" height="100" width="100">
        <circle cx="50" cy="50" r="40" stroke="black" fill="none" />
      </svg> 
      <svg class="blocker" height="100" width="100">
        <line x1="50" y1="70" x2="99" y2="20" />
      </svg>
      <svg class="line" id="line1" height="100" width="100">
        <line x1="25" y1="45" x2="50" y2="70" />
      </svg>
      <svg class="line" id="line2" height="100" width="110">
        <line x1="50" y1="70" x2="99" y2="20" />
      </svg>
    </div>
    <div class="text-container">
      <h1 id="text-top">Success!</h1>
    </div>
    <div class="text-container">
      <h2 id="text-bottom">Section Complete</h2>
    </div>
  </div>
</div>