<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <regions-progress-pills
    [title]="pillsTitle$ | async"
    [pills]="pills$ | async"
  ></regions-progress-pills>
  <h2 id="page-heading" tabindex="-1" #pageHeading class="primary-text no-sub">Have you been declared bankrupt within the past seven (7) years?</h2>
  <fieldset
    class="input-group"
    [regionsInputGroup]="form.get('bankruptcies')"
    [formSubmitAttempted]="formSubmitAttempted$ | async"
    aria-labelledby="page-heading"
  >
    <legend class="sr-only">Have you been declared bankrupt within the past seven (7) years?</legend>
    <label for="yes" class="radio">
      <input
        type="radio"
        id="yes"
        name="bankruptcies"
        value="yes"
        formControlName="bankruptcies"
        [regionsAccessibleAttributes]="form.get('bankruptcies')"
				[formSubmitObservable]="formSubmitAttempted$"
     >
     <span class="radio-btn" aria-hidden="true"></span>
      Yes<span class="sr-only">, I have been declared bankrupt within the past seven (7) years.</span>
    </label>
    <label for="no" class="radio">
      <input type="radio" id="no" name="bankruptcies" value="no" formControlName="bankruptcies">
      <span class="radio-btn" aria-hidden="true"></span>
      No<span class="sr-only">, I have not been declared bankrupt within the past seven (7) years.</span>
    </label>
    <span
      class="error-text error-required"
      *ngIf="form.get('bankruptcies').hasError('required')"
    >select an option</span>
  </fieldset>
  <regions-action-btn-group
    [linkOptions]="actionBtnLinkOptions$ | async"
  ></regions-action-btn-group>
</form>
