<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <regions-progress-pills
    [title]="pillsTitle$ | async"
    [pills]="pills$ | async"
  ></regions-progress-pills>
  <h2 id="page-heading" tabindex="-1" #pageHeading class="primary-text no-sub">Are you obligated to pay alimony, child support, or separate maintenance?</h2>
  <fieldset
    class="input-group"
    [regionsInputGroup]="form.get('alimony')"
    [formSubmitAttempted]="formSubmitAttempted$ | async"
    aria-labelledby="page-heading"
  >
    <legend class="sr-only">Are you obligated to pay alimony, child support, or separate maintenance?</legend>
    <label for="yes" class="radio">
      <input
        type="radio"
        id="yes"
        name="alimony"
        value="yes"
        formControlName="alimony"
        [regionsAccessibleAttributes]="form.get('alimony')"
				[formSubmitObservable]="formSubmitAttempted$"
     >
     <span class="radio-btn" aria-hidden="true"></span>
      Yes<span class="sr-only">, I am obligated to pay alimony, child support, or separate maintenance.</span>
    </label>
    <label for="no" class="radio">
      <input type="radio" id="no" name="alimony" value="no" formControlName="alimony">
      <span class="radio-btn" aria-hidden="true"></span>
      No<span class="sr-only">, I am not obligated to pay alimony, child support, or separate maintenance.</span>
    </label>
    <span
      *ngIf="form.get('alimony').hasError('required')"
      id="yes-error"
      class="error-text error-required"
    >
      select an option
    </span>
  </fieldset>
  <regions-action-btn-group
    [linkOptions]="actionBtnLinkOptions$ | async"
  ></regions-action-btn-group>
</form>
