<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <regions-progress-pills
    [title]="pillsTitle$ | async"
    [pills]="pills$ | async"
  ></regions-progress-pills>
  <h2 id="page-heading" tabindex="-1" #pageHeading class="primary-text no-sub">Have you had ownership interest in a property in the last three (3) years?</h2>
  <fieldset
    class="input-group"
    [regionsInputGroup]="form.get('ownershipInterest')"
    [formSubmitAttempted]="formSubmitAttempted$ | async"
    aria-labelledby="page-heading"
  >
    <legend class="sr-only">Have you had ownership interest in a property in the last three (3) years?</legend>
    <label for="yes" class="radio">
      <input
        type="radio"
        id="yes"
        name="ownershipInterest"
        value="yes"
        formControlName="ownershipInterest"
        [regionsAccessibleAttributes]="form.get('ownershipInterest')"
				[formSubmitObservable]="formSubmitAttempted$"
     >
     <span class="radio-btn" aria-hidden="true"></span>
      Yes<span class="sr-only">, I have had ownership interest in a property in the last three (3) years.</span>
    </label>
    <label for="no" class="radio">
      <input type="radio" id="no" name="ownershipInterest" value="no" formControlName="ownershipInterest">
      <span class="radio-btn" aria-hidden="true"></span>
      No<span class="sr-only">, I have not had ownership interest in a property in the last three (3) years.</span>
    </label>
    <span
      id="yes-error"
      class="error-text error-required">
      select an option
    </span>
  </fieldset>
  <regions-action-btn-group
    [linkOptions]="actionBtnLinkOptions$ | async"
  ></regions-action-btn-group>
</form>
