.icon-group-container {
  margin: 20px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.icon-padding {
  margin-top: 40px;
  width: 100%;
}

.icon-container {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

p.icon-label {
  font-size: 14px;
  font-weight: lighter;
  color: #797979;
}

p.icon-link {
  font-size: 14px;
  font-weight: normal;
  color: #117788;
  text-decoration: none;
}
