<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <regions-progress-pills
    [title]="pillsTitle$ | async"
    [pills]="pills$ | async"
  ></regions-progress-pills>
  <h2 id="page-heading" tabindex="-1" #pageHeading class="primary-text">
    <label for="who">
      Who is giving you this money?
      <span class="sr-only">Please enter First and Last name.</span>
    </label>
  </h2>
  <p class="sub-text">Please enter First and Last name.</p>
  <fieldset>
    <legend class="sr-only">Who is giving you this money?</legend>
    <div class="input-group" [regionsInputGroup]="form.get('who')" [formSubmitAttempted]="formSubmitAttempted$ | async">
      <input
        type="text"
        id="who"
        name="who"
        formControlName="who"
        [regionsAccessibleAttributes]="form.get('who')"
				[formSubmitObservable]="formSubmitAttempted$"
     />
      <span
        class="error-text error-required"
        id="who-error"
        *ngIf="form.get('who').hasError('required')"
      >a gift giver name is required</span>
    </div>
  </fieldset>
  <regions-action-btn-group
    [linkOptions]="actionBtnLinkOptions$ | async"
  ></regions-action-btn-group>
</form>
